<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>otlroc</string>
	<key>ThemeIdentifier</key>
	<string>com.netnewswire.themes.otlroc</string>
	<key>CreatorHomePage</key>
	<string>https://lindecrantz.com/</string>
	<key>CreatorName</key>
	<string>David Lindecrantz</string>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
